.tabs {
  display: flex;
  flex-direction: row;
}

.tab {
  position: relative;
  width: 140px;
  visibility: hidden;
  display: none;
}

.dot {
  font-size: 2rem;
  height: 1rem;
  position: relative;
  top: -1rem;
}
