html {
  /*font-family: Helvetica, sans-serif;*/
  /*font-size: 18px;*/
}

body {
  margin: 0;
}

/*Theme Toggling*/

body {
  --bg: white;
  --textNormal: black;
  --textLink: gray;
  --textLink: black;
  --underlineColor: black;
  --gridColor: #e5e5e5;
  --codeBg: #f6f5f1;
  background-color: var(--bg);
  color: var(--textNormal);
}

body.dark {
  --bg: #282c35;
  --textNormal: rgba(255, 255, 255, 0.9);
  --textLink: white;
  --gridColor: #494949;
  --underlineColor: white;
  --codeBg: black;
}

.layout {
  display: grid;
  position: relative;
  grid-template-rows: 160px auto;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main {
  padding: 0 4rem 10rem 4rem;
  display: grid;
  grid-template-columns: 280px auto;
  column-gap: 6rem;
}

.articles {
  max-width: 960px
}

@media only screen and (max-width: 1024px) {
  .main {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    padding: 0 2rem 2rem 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    padding: 0 1rem 1rem 1rem;
  }
}

